# Результаты сборки
/build
/*/build
*.apk
*.aab

# Локальные файлы конфигурации (SDK, ключи)
local.properties
*.jks
*.keystore

# Кэш Gradle
.gradle/

# Настройки Android Studio / IntelliJ IDEA
.idea/
*.iml

# Системные файлы
.DS_Store
Thumbs.db